{{> header}}
<h1>Login</h1>
<form action="/login" enctype="multipart/form-data" method="post">
  Username: <input type="text" name="email"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit">
</form>

<p class="register-text">Not registered yet?</p>
<button type=button>
<a href="https://44ywwk-3010.csb.app/register">Register</a>
</button>
{{> footer}}